## Exercise 01. Basic operations

1. Создайте фрейм данных под названием `views` с двумя столбцами: `datetime` и `user`, прочитав `feed-views.log`

In [1]:
import pandas as pd

views = pd.read_csv(
    "../data/feed-views.log",
    sep="\t",
    names=["datetime", "user"]
)

views.head()

                     datetime   user
0  2020-04-17 12:01:08.463179  artem
1  2020-04-17 12:01:23.743946  artem
2  2020-04-17 12:27:30.646665  artem
3  2020-04-17 12:35:44.884757  artem
4  2020-04-17 12:35:52.735016  artem

2. Создаём новую колонку **daytime**

In [2]:
views["datetime"] = pd.to_datetime(views["datetime"], format="%Y-%m-%d %H:%M:%S.%f")

In [3]:
views["year"] = views["datetime"].dt.year
views["month"] = views["datetime"].dt.month
views["day"] = views["datetime"].dt.day
views["hour"] = views["datetime"].dt.hour
views["minute"] = views["datetime"].dt.minute
views["second"] = views["datetime"].dt.second

In [4]:
labels = ["night", "early morning", "morning", "afternoon", "early evening", "evening"]
bins = [0, 4, 7, 11, 17, 20, 24]

views["daytime"] = pd.cut(views["hour"], bins=bins, labels=labels, right= False)

In [5]:
views = views.set_index("user")
views.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon

3. Подсчитываем количество элементов в нашем датафрейме

In [6]:
count = views.count()
count

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

Подсчитываем колличество элементов в views["daytime"]

In [7]:
views["daytime"].value_counts()

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: count, dtype: int64

4. Сортируем значения в вашем датафрейме по часам, минутам и секундам в порядке возрастания одновременно, а не по отдельности.

In [8]:
sorted_views = views.sort_values(by=["hour", "minute", "second"])
sorted_views.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night

5. Рассчитываем минимальное и максимальное значения для часов и режим для дневных категорий.

In [9]:
hour_min = views["hour"].min()
hour_max = views["hour"].max()
daytime_mode = views["daytime"].mode().iloc[0]
(hour_min, hour_max, daytime_mode)

(0, 23, 'evening')

In [10]:
night_data = views[views["daytime"] == "night"]
max_night_hour = night_data["hour"].max()
user = night_data[night_data["hour"] == max_night_hour].index[0]
(max_night_hour, user)

(3, 'konstantin')

In [11]:
morning_data = views[views["daytime"] == "morning"]
min_morning_hour = morning_data["hour"].min()

user = morning_data[morning_data["hour"] == min_morning_hour].index[0]
(min_morning_hour, user)

(8, 'alexander')

In [12]:
hour_mode = views["hour"].mode()[0]

(hour_mode, daytime_mode)

(22, 'evening')

6. Отображаю три самых ранних и самых поздних часа дня и соответствующие им имена пользователей с помощью nsmallest() и nlargest().

In [13]:
earliest = views.nsmallest(3, "hour")[["hour", 'daytime']]
latest = views.nlargest(3, "hour")[["hour", 'daytime']]

earliest, latest

(            hour daytime
 user
 artem          0   night
 konstantin     0   night
 konstantin     0   night,
             hour  daytime
 user
 konstantin    23  evening
 artem         23  evening
 artem         23  evening)

7. Использую describe() метод для получения базовой статистики по столбцам

In [14]:
stats = views.describe()
stats

,datetime,year,month,day,hour,minute,second
count,1076,1076.0,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000
mean,2020-05-10 09:00:41.211420672,2020.0,4.870818,13.552974,16.249071,29.629182,29.500929
min,2020-04-17 12:01:08.463179,2020.0,4.000000,1.000000,0.000000,0.000000,0.000000
25%,2020-05-10 01:13:49.857472,2020.0,5.000000,11.000000,13.000000,14.000000,14.000000
50%,2020-05-11 22:48:35.302552832,2020.0,5.000000,13.000000,19.000000,29.000000,30.000000
75%,2020-05-14 14:44:34.749530624,2020.0,5.000000,15.000000,22.000000,46.000000,45.000000
max,2020-05-22 10:36:14.662600,2020.0,5.000000,30.000000,23.000000,59.000000,59.000000
std,NaN,0.0,0.335557,4.906567,6.955490,17.689388,17.405506

In [15]:
iqr = stats.loc["75%", "hour"] - stats.loc["25%", "hour"]
iqr

9.0